You have <%= @user.count_posts %> posts!

<% @posts.each do |post|%>
  <h3>
    <%= link_to post.title, post %> <br>
  </h3>
      <small class="author"> Submitted <%= time_ago_in_words(post.created_at) %> </small>
<%end%>

<%# by <%= post.user.email goes after 'submitted'%>
